In [22]:
import pandas as pd
import re

In [23]:
# Reading dataset

df = pd.read_csv("dataset\Scraped_Data.csv")

<>:3: SyntaxWarning: invalid escape sequence '\S'
<>:3: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Bipin Manandhar\AppData\Local\Temp\ipykernel_11388\1447818741.py:3: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_csv("dataset\Scraped_Data.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product URL        210 non-null    object
 1   Product Name       210 non-null    object
 2   Product Price      209 non-null    object
 3   Rating             208 non-null    object
 4   Number of reviews  208 non-null    object
 5   Manufacturer       154 non-null    object
 6   ASIN               156 non-null    object
dtypes: object(7)
memory usage: 11.6+ KB

In [25]:
df.head()

,Product URL,Product Name,Product Price,Rating,Number of reviews,Manufacturer,ASIN
0,https://www.amazon.in/Skybags-Brat-Black-Casua...,"Skybags Casual Backpack 28L, 2 Main Compartmen...",₹446,4.1 out of 5 stars,"13,311",VIP Industries Ltd,B08Z1HHHTD
1,https://www.amazon.in/Number-Backpack-Compartm...,FUR JADEN Anti Theft Number Lock Backpack Bag ...,₹699,4.4 out of 5 stars,"15,425","FUR JADEN, Fur Jaden, 3C Jai Hind Bld, Dr AM R...",B09VTDMRY7
2,https://www.amazon.in/Wesley-Raincover-Interna...,Wesley Spartan Unisex Travel Hiking Laptop Bag...,₹549,4.1 out of 5 stars,"2,799","Wesley, Longani Trading Company",B0D37BRN7X
3,https://www.amazon.in/Gear-Black-Laptop-Backpa...,Gear Aspire 30L Medium Water Restant Office La...,₹898,4.3 out of 5 stars,"8,587","Gear Merchandise PVT LTD, Gear Merchandise PVT...",B075MK4TXP
4,https://www.amazon.in/Safari-Laptop-Backpack-R...,"Safari Casual backpack 3 compartments, front p...",₹729,4.0 out of 5 stars,"3,041","Safari, Safari Industries Ltd 301/302, A-Wing,...",B097JJ2CK6

In [26]:
df.columns

Index(['Product URL', 'Product Name', 'Product Price', 'Rating',
       'Number of reviews', 'Manufacturer', 'ASIN'],
      dtype='object')

In [27]:
df.isnull().sum()

Product URL           0
Product Name          0
Product Price         1
Rating                2
Number of reviews     2
Manufacturer         56
ASIN                 54
dtype: int64

# Data Cleaning

In [28]:
df_copy = df.copy()

In [29]:
df_copy = df_copy.dropna(subset = ['Product Name'])

In [30]:
df_copy = df_copy.drop_duplicates(subset=['Product Name'])

In [31]:
# # Display rows with any NaN values
# rows_with_nan = df_copy[df_copy.isna().any(axis=1)]

# print(len(rows_with_nan))
# # Display the result
# rows_with_nan[0:5]

In [32]:
# # Replacing empty cells with None string
# df_copy.fillna("None", inplace = True)

In [33]:
# df_copy.info()

# Normalize text by converting to lowercase.

In [34]:
# Convert all characters in the 'Name' column to lowercase
df_copy['product_name'] = df_copy['Product Name'].str.lower()

In [35]:
df_copy['product_name']

0      skybags casual backpack 28l, 2 main compartmen...
1      fur jaden anti theft number lock backpack bag ...
2      wesley spartan unisex travel hiking laptop bag...
3      gear aspire 30l medium water restant office la...
4      safari casual backpack 3 compartments, front p...
                             ...
205             skybags evo laptop backpack black & grey
206    beauty girls by hotshot 1577 |school bag|tuiti...
207    gustave® 15.6 inch laptop bag for men with usb...
208    impulse imp omega 45l laptop backpack/office b...
209    hundred cosmogear badminton kit-bag (navy)|dou...
Name: product_name, Length: 175, dtype: object

# Remove special characters, punctuation, and redundant whitespace.

In [36]:
# Function to clean the column
def clean_column(text):
    # Replace special characters and punctuation with spaces
    text = re.sub(r'[^a-zA-Z\s]', ' ', text)  # Replace non-alphabetic characters with spaces
    
    # Remove single characters that stand alone (e.g., 'a', 'I')
    text = re.sub(r'\b[a-zA-Z]\b', '', text)  # Remove single alphabetic characters
    
    # Remove redundant whitespace (extra spaces)
    text = ' '.join(text.split())  # Split on spaces and join back to remove extra spaces
    
    return text.strip()  # Remove leading/trailing spaces

# Apply the cleaning function to the 'Name' column
df_copy['product_name'] = df_copy['product_name'].apply(clean_column)

In [37]:
df_copy['product_name']

0      skybags casual backpack main compartments bott...
1      fur jaden anti theft number lock backpack bag ...
2      wesley spartan unisex travel hiking laptop bag...
3      gear aspire medium water restant office laptop...
4      safari casual backpack compartments front pock...
                             ...
205               skybags evo laptop backpack black grey
206    beauty girls by hotshot school bag tuition bag...
207    gustave inch laptop bag for men with usb earph...
208    impulse imp omega laptop backpack office bag s...
209    hundred cosmogear badminton kit bag navy doubl...
Name: product_name, Length: 175, dtype: object

# Removing stop words

In [38]:
# python -m spacy download en_core_web_sm

In [39]:
import spacy

# Load the spacy model
nlp = spacy.load("en_core_web_sm")

def preprocess_text(text):
    doc = nlp(text)
    # Remove stop words and lemmatize the remaining words
    filtered_tokens = [token.lemma_ for token in doc if not token.is_stop and not token.is_punct]

    # Remove duplicate words while preserving order
    filtered_tokens = list(dict.fromkeys(filtered_tokens))
    
    return ' '.join(filtered_tokens)



# Apply preprocessing on the 'product_name' column
df_copy['product_name'] = df_copy['product_name'].apply(preprocess_text)

In [40]:
df_copy.to_csv("dataset/cleaned_data.csv", index=False)

In [41]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175 entries, 0 to 209
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product URL        175 non-null    object
 1   Product Name       175 non-null    object
 2   Product Price      174 non-null    object
 3   Rating             174 non-null    object
 4   Number of reviews  174 non-null    object
 5   Manufacturer       131 non-null    object
 6   ASIN               133 non-null    object
 7   product_name       175 non-null    object
dtypes: object(8)
memory usage: 12.3+ KB

In [42]:
df_copy["product_name"]

0      skybag casual backpack main compartment bottle...
1      fur jaden anti theft number lock backpack bag ...
2      wesley spartan unisex travel hike laptop bag f...
3      gear aspire medium water restant office laptop...
4      safari casual backpack compartment pocket bott...
                             ...
205               skybags evo laptop backpack black grey
206    beauty girl hotshot school bag tuition college...
207    gustave inch laptop bag man usb earphone port ...
208    impulse imp omega laptop backpack office bag s...
209    cosmogear badminton kit bag navy double zipper...
Name: product_name, Length: 175, dtype: object